*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.siderbar-blue{
    background-color: #091e4f;
    color:#ffffff;
}

.nav-sidebar .menu-open > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-is-opening > .nav-link i.right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, 
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #264eac;
    color: #fff;
  } 

  [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: rgba(255,255,255,.1);
    color: #fff;
  }